<% title("Editando") %>

<h1>Editing issue</h1>

<% form_for(@issue,:html => { :multipart => true } ) do |f| %>
  <%= f.error_messages %>

  <%= render :partial =>"fields", :object=>f %>

<% end %>

<%= link_to 'Show', @issue %> |
<%= link_to 'Back', issues_path %>